<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:70px"></a>
            <a href='@Url.Action("Elecciones")'>Elecciones</a>
            <a href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article>
    
    <div class="partidos">
    @for (int i = 0; i < ViewBag.detallePartido.Count; i++)
        {            
        <div class="card">
            <img src="\img\Logos\@ViewBag.detallePartido[i].Logo" style="width:400px">
            <div class="container">
                <h2><b>@ViewBag.detallePartido[i].Nombre</b></h2>
                <a href='@Url.Action("VerDetallePartido", new { idPartido = ViewBag.detallePartido[i].IdPartido})'>Ver más</a>
            </div>
        </div>    
        }
    </div>

    </article>
</body>