<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:100px"></a>
            <a href='@Url.Action("Elecciones")'>Elecciones</a>
            <a href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article>
    <p>Nombre: @ViewBag.detallePartido.Nombre</p>
    <img src = "\img\Logos\@ViewBag.detallePartido.Logo" width="200px">
    <p>SitioWeb: @ViewBag.detallePartido.SitioWeb</p>
    <p>FechaFundacion: @ViewBag.detallePartido.FechaFundacion</p>
    <p>CantidadDiputados: @ViewBag.detallePartido.CantidadDiputados</p>
    <p>CantidadSenadores: @ViewBag.detallePartido.CantidadSenadores</p>

    @for (int i = 0; i < ViewBag.detalleCandidato.Count; i++)
    {
        
    <div class="card">
        <img src="@ViewBag.detalleCandidato[i].Foto" alt="@ViewBag.detalleCandidato[i].Nombre" style="width:200px">
        <div class="container">
            <h4><b>@ViewBag.detalleCandidato[i].Nombre</b></h4>
            <a href='@Url.Action("VerDetalleCandidato", new { idCandidato = ViewBag.detalleCandidato[i].IdCandidato})'>Ver más</a><br>
            <a href='@Url.Action("EliminarCandidato", new { idCandidato = ViewBag.detalleCandidato[i].IdCandidato, idPartido = @ViewBag.detallePartido.IdPartido})'>Eliminar Candidato</a>
        </div>
    </div>
           
    }

    <a href='@Url.Action("AgregarCandidato", new{ idPartido = @ViewBag.detallePartido.IdPartido} )'>Agregar Candidato</a>

    </article>
</body>