<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><img src="/img/banderaArg.webp" style="width:100px"></a>
            <a href='@Url.Action("Elecciones")'>Elecciones</a>
            <a href='@Url.Action("Creditos")'>Créditos</a>
        </nav>
    </header>
    <article>

    <p>Nombre: @ViewBag.detalleCandidato.Nombre</p>
    <img src = "\img\Logos\@ViewBag.detalleCandidato.Foto" width="200px">
    <p>Nacieminto: @ViewBag.detalleCandidato.FechaNacimiento</p>
    <p>Apellido: @ViewBag.detalleCandidato.Apellido</p>
    <p>Postulacion: @ViewBag.detalleCandidato.Postulacion</p>

    </article>
</body>